In [1]:
import pandas as pd
import numpy as np

In [2]:
df_index= pd.read_excel(r"data/CSI300/CSI300_Index_Level.xlsx")
df_index.head()

         date  index_level
0  2010-04-16     3356.332
1  2010-04-19     3176.423
2  2010-04-20     3173.374
3  2010-04-21     3236.679
4  2010-04-22     3201.541

In [3]:
df_2008 = pd.read_excel(r"data/CSI300/CSI300_Index_Level(2008-3-31).xlsx")
df_2008["指标名称"][3094]
index0 = df_2008["沪深300指数"][3094]

In [4]:
diff = np.array(df_index["index_level"])
diff = np.diff(diff)
diff0 = df_index["index_level"][0] - index0
diff = np.insert(diff, 0, diff0)

In [5]:
is_rising = []
df_index['diff'] = diff.tolist()
rising_value = -1
for x in df_index['diff']:
    if x >0:
        rising_value = 1
    else:
        rising_value = 0
    
    is_rising.append(rising_value)


df_index['is_rising'] = is_rising

In [6]:
df_index['date']=pd.to_datetime(df_index['date'])
df_index.set_index("date", inplace=True)

In [7]:
last = df_index.loc[df_index.groupby(df_index.index.to_period('Q')).apply(lambda x: x.index.max())]
first = df_index.loc[df_index.groupby(df_index.index.to_period('Q')).apply(lambda x: x.index.min())]

In [8]:
first

            index_level      diff  is_rising
date
2010-04-16    3356.3320  -38.2380          0
2010-07-01    2526.0710  -36.9990          0
2010-10-08    3044.2330  108.6590          1
2011-01-04    3189.6820   61.4210          1
2011-04-01    3272.7290   49.4410          1
2011-07-01    3049.7450    5.6560          1
2011-10-10    2557.0820  -24.2690          0
2012-01-04    2298.7530  -46.9890          0
2012-04-05    2512.8320   57.9330          1
2012-07-02    2465.2380    3.6260          1
2012-10-08    2270.0540  -23.0520          0
2013-01-04    2524.4090    1.4570          1
2013-04-01    2493.1870   -1.8960          0
2013-07-01    2213.3170   12.6780          1
2013-10-08    2441.8110   32.7740          1
2014-01-02    2321.9780   -8.0480          0
2014-04-01    2163.1150   16.8100          1
2014-07-01    2164.5590   -0.5590          0
2014-10-08    2478.3830   27.3950          1
2015-01-05    3641.5410  107.8360          1
2015-04-01    4123.8950   72.6910          1
2015-07-01    4253.0210 -219.9770          0
2015-10-08    3296.4820   93.5340          1
2016-01-04    3469.0662 -261.9385          0
2016-04-01    3221.8948    3.8069          1
2016-07-01    3154.2003    0.2793          1
2016-10-10    3293.8689   40.5841          1
2017-01-03    3342.2272   32.1464          1
2017-04-05    3503.8932   47.8477          1
2017-07-03    3650.8463  -15.9514          0
2017-10-09    3882.2076   45.7063          1
2018-01-02    4087.4012   56.5463          1
2018-04-02    3886.9189  -11.5788          0
2018-07-02    3407.9638 -103.0207          0
2018-10-08    3290.8988 -147.9661          0
2019-01-02    2969.5353  -41.1183          0
2019-04-01    3973.9280  101.5868          1
2019-07-01    3935.8116  110.2243          1
2019-10-08    3837.6791   23.1509          1
2020-01-02    4152.2408   55.6587          1
2020-04-01    3675.0758  -11.0793          0
2020-07-01    4247.7835   83.8198          1
2020-10-09    4681.1412   93.7459          1
2021-01-04    5267.7181   56.4296          1
2021-04-01    5110.7768   62.4161          1
2021-07-01    5229.6642    5.6232          1
2021-10-08    4929.9409   63.5583          1
2022-01-04    4917.7653  -22.6080          0
2022-04-01    4276.1580   53.5612          1
2022-07-01    4466.7179  -18.2929          0
2022-10-10    3720.9365  -83.9488          0

In [9]:
last

            index_level      diff  is_rising
date
2010-06-30    2563.0700  -28.9490          0
2010-09-30    2935.5740   60.7620          1
2010-12-31    3128.2610   64.1630          1
2011-03-31    3223.2880  -32.7920          0
2011-06-30    3044.0890   43.9200          1
2011-09-30    2581.3510   -6.8340          0
2011-12-30    2345.7420   34.3810          1
2012-03-30    2454.8990   11.7770          1
2012-06-29    2461.6120   35.8830          1
2012-09-28    2293.1060   41.3890          1
2012-12-31    2522.9520   42.9030          1
2013-03-29    2495.0830   -4.2190          0
2013-06-28    2200.6390   39.9040          1
2013-09-30    2409.0370   14.0660          1
2013-12-31    2330.0260   30.5680          1
2014-03-31    2146.3050   -5.6600          0
2014-06-30    2165.1180   14.8600          1
2014-09-30    2450.9880    3.1890          1
2014-12-31    3533.7050   76.1510          1
2015-03-31    4051.2040  -36.9740          0
2015-06-30    4472.9980  281.4490          1
2015-09-30    3202.9480   24.0940          1
2015-12-31    3731.0047  -34.1705          0
2016-03-31    3218.0879    1.8126          1
2016-06-30    3153.9210    2.5312          1
2016-09-30    3253.2848    8.8974          1
2016-12-30    3310.0808   12.3160          1
2017-03-31    3456.0455   19.2875          1
2017-06-30    3666.7977   -2.0302          0
2017-09-29    3836.5013   13.9627          1
2017-12-29    4030.8549   11.9575          1
2018-03-30    3898.4977    4.4479          1
2018-06-29    3510.9845   87.4590          1
2018-09-28    3438.8649   35.2747          1
2018-12-28    3010.6536   20.1479          1
2019-03-29    3872.3412  143.9459          1
2019-06-28    3825.5873   -9.2299          0
2019-09-30    3814.5282  -38.1252          0
2019-12-31    4096.5821   14.9487          1
2020-03-31    3686.1551   12.0443          1
2020-06-30    4163.9637   54.2473          1
2020-09-30    4587.3953   -4.4040          0
2020-12-31    5211.2885   97.5780          1
2021-03-31    5048.3607  -46.3684          0
2021-06-30    5224.0410   33.4965          1
2021-09-30    4866.3826   32.4545          1
2021-12-31    4940.3733   18.8624          1
2022-03-31    4222.5968  -31.5021          0
2022-06-30    4485.0108   63.6538          1
2022-09-30    3804.8853  -22.2581          0
2022-12-30    3871.6338   14.9331          1

In [10]:
df_index

            index_level      diff  is_rising
date
2010-04-16    3356.3320  -38.2380          0
2010-04-19    3176.4230 -179.9090          0
2010-04-20    3173.3740   -3.0490          0
2010-04-21    3236.6790   63.3050          1
2010-04-22    3201.5410  -35.1380          0
...                 ...       ...        ...
2022-12-26    3843.4887   15.2699          1
2022-12-27    3887.8540   44.3653          1
2022-12-28    3871.2644  -16.5896          0
2022-12-29    3856.7007  -14.5637          0
2022-12-30    3871.6338   14.9331          1

[3091 rows x 3 columns]

In [11]:
last.index

DatetimeIndex(['2010-06-30', '2010-09-30', '2010-12-31', '2011-03-31',
               '2011-06-30', '2011-09-30', '2011-12-30', '2012-03-30',
               '2012-06-29', '2012-09-28', '2012-12-31', '2013-03-29',
               '2013-06-28', '2013-09-30', '2013-12-31', '2014-03-31',
               '2014-06-30', '2014-09-30', '2014-12-31', '2015-03-31',
               '2015-06-30', '2015-09-30', '2015-12-31', '2016-03-31',
               '2016-06-30', '2016-09-30', '2016-12-30', '2017-03-31',
               '2017-06-30', '2017-09-29', '2017-12-29', '2018-03-30',
               '2018-06-29', '2018-09-28', '2018-12-28', '2019-03-29',
               '2019-06-28', '2019-09-30', '2019-12-31', '2020-03-31',
               '2020-06-30', '2020-09-30', '2020-12-31', '2021-03-31',
               '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31',
               '2022-06-30', '2022-09-30', '2022-12-30'],
              dtype='datetime64[ns]', name='date', freq=None)

In [12]:
first.index

DatetimeIndex(['2010-04-16', '2010-07-01', '2010-10-08', '2011-01-04',
               '2011-04-01', '2011-07-01', '2011-10-10', '2012-01-04',
               '2012-04-05', '2012-07-02', '2012-10-08', '2013-01-04',
               '2013-04-01', '2013-07-01', '2013-10-08', '2014-01-02',
               '2014-04-01', '2014-07-01', '2014-10-08', '2015-01-05',
               '2015-04-01', '2015-07-01', '2015-10-08', '2016-01-04',
               '2016-04-01', '2016-07-01', '2016-10-10', '2017-01-03',
               '2017-04-05', '2017-07-03', '2017-10-09', '2018-01-02',
               '2018-04-02', '2018-07-02', '2018-10-08', '2019-01-02',
               '2019-04-01', '2019-07-01', '2019-10-08', '2020-01-02',
               '2020-04-01', '2020-07-01', '2020-10-09', '2021-01-04',
               '2021-04-01', '2021-07-01', '2021-10-08', '2022-01-04',
               '2022-04-01', '2022-07-01', '2022-10-10'],
              dtype='datetime64[ns]', name='date', freq=None)

In [13]:
count = -1
pli = -1
plis = []
for i in range(0, len(last)):
    count = 0
    temp = df_index[first.index[i]:last.index[i]]
    for x in temp["is_rising"]:
        if x == 1:
            count +=1

    pli = count/len(temp)
    plis.append(pli)

In [14]:
last["pli"] = plis

In [15]:
last

            index_level      diff  is_rising       pli
date
2010-06-30    2563.0700  -28.9490          0  0.360000
2010-09-30    2935.5740   60.7620          1  0.603175
2010-12-31    3128.2610   64.1630          1  0.508197
2011-03-31    3223.2880  -32.7920          0  0.551724
2011-06-30    3044.0890   43.9200          1  0.491803
2011-09-30    2581.3510   -6.8340          0  0.415385
2011-12-30    2345.7420   34.3810          1  0.433333
2012-03-30    2454.8990   11.7770          1  0.517241
2012-06-29    2461.6120   35.8830          1  0.440678
2012-09-28    2293.1060   41.3890          1  0.492308
2012-12-31    2522.9520   42.9030          1  0.508197
2013-03-29    2495.0830   -4.2190          0  0.535714
2013-06-28    2200.6390   39.9040          1  0.421053
2013-09-30    2409.0370   14.0660          1  0.515625
2013-12-31    2330.0260   30.5680          1  0.442623
2014-03-31    2146.3050   -5.6600          0  0.431034
2014-06-30    2165.1180   14.8600          1  0.459016
2014-09-30    2450.9880    3.1890          1  0.600000
2014-12-31    3533.7050   76.1510          1  0.622951
2015-03-31    4051.2040  -36.9740          0  0.614035
2015-06-30    4472.9980  281.4490          1  0.580645
2015-09-30    3202.9480   24.0940          1  0.484375
2015-12-31    3731.0047  -34.1705          0  0.590164
2016-03-31    3218.0879    1.8126          1  0.576271
2016-06-30    3153.9210    2.5312          1  0.491803
2016-09-30    3253.2848    8.8974          1  0.515625
2016-12-30    3310.0808   12.3160          1  0.500000
2017-03-31    3456.0455   19.2875          1  0.576271
2017-06-30    3666.7977   -2.0302          0  0.533333
2017-09-29    3836.5013   13.9627          1  0.553846
2017-12-29    4030.8549   11.9575          1  0.583333
2018-03-30    3898.4977    4.4479          1  0.627119
2018-06-29    3510.9845   87.4590          1  0.416667
2018-09-28    3438.8649   35.2747          1  0.421875
2018-12-28    3010.6536   20.1479          1  0.416667
2019-03-29    3872.3412  143.9459          1  0.568966
2019-06-28    3825.5873   -9.2299          0  0.466667
2019-09-30    3814.5282  -38.1252          0  0.507692
2019-12-31    4096.5821   14.9487          1  0.540984
2020-03-31    3686.1551   12.0443          1  0.500000
2020-06-30    4163.9637   54.2473          1  0.627119
2020-09-30    4587.3953   -4.4040          0  0.575758
2020-12-31    5211.2885   97.5780          1  0.550000
2021-03-31    5048.3607  -46.3684          0  0.534483
2021-06-30    5224.0410   33.4965          1  0.566667
2021-09-30    4866.3826   32.4545          1  0.468750
2021-12-31    4940.3733   18.8624          1  0.524590
2022-03-31    4222.5968  -31.5021          0  0.431034
2022-06-30    4485.0108   63.6538          1  0.559322
2022-09-30    3804.8853  -22.2581          0  0.369231
2022-12-30    3871.6338   14.9331          1  0.483333

In [16]:
last['quarter'] = range(1, len(last) + 1)
last.set_index("quarter", inplace=True)

In [17]:
last.to_csv(r'PLI_quarter.csv', index = True, header=True)