In [1]:
import pandas as pd
df = pd.read_csv('C:/Users/XLL/Desktop/CSæ¯•è®¾é¡¹ç›®/300_month_1.5.csv')
df

,month,inventory,future_return,volume,amount,BASIS,short_balance_ratio,pli,RSI,index_turnover_rate,index_trading_volume,treasury_spread,CCt
0,2,0.932187,-0.111051,15.518058,10.760043,28.650850,0.000067,0.450000,40.641425,0.472500,9.481054,1.837575,0
1,3,0.943371,-0.044306,15.510125,10.711359,15.828579,0.000131,0.368421,45.810128,0.348947,9.073902,1.638052,0
2,4,0.954008,-0.020380,15.835324,11.011147,0.632045,0.000154,0.681818,56.253259,0.454545,9.409949,1.411491,1
3,5,0.955730,0.074706,15.756518,11.010782,7.965727,0.000103,0.590909,43.246645,0.560909,9.696019,1.407682,0
4,6,0.950001,0.011172,15.274145,10.540019,12.403947,0.000086,0.526316,50.714483,0.553158,9.647988,1.439991,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,148,1.001985,0.009355,14.689719,10.340389,-18.431452,0.097403,0.428571,30.262188,0.434286,10.963696,1.107890,0
147,149,1.002619,-0.039144,14.564396,10.173585,-4.287357,0.106141,0.391304,54.523974,0.376957,10.924991,1.061322,0
148,150,0.999321,-0.043356,14.423992,9.992973,1.493562,0.143683,0.285714,49.217163,0.344286,10.622044,0.957367,0
149,151,0.993953,-0.065156,14.359670,9.861994,-1.025756,0.129923,0.312500,45.951869,0.371875,10.459270,0.998850,0
150,152,1.003595,0.016296,14.733838,10.250105,6.372923,0.115053,0.545455,65.210494,0.460455,10.864666,0.834641,1

In [2]:
a = ['future_return','volume','inventory','amount','BASIS']
for i in a:
    group = df[i].agg(['mean', 'std'])
    print(group)

mean    0.001083
std     0.058236
Name: future_return, dtype: float64
mean    14.833878
std      1.425105
Name: volume, dtype: float64
mean    0.979485
std     0.018290
Name: inventory, dtype: float64
mean    10.233979
std      1.347496
Name: amount, dtype: float64
mean    -8.463275
std     23.930822
Name: BASIS, dtype: float64

In [4]:
from scipy.stats import ttest_ind
for i in a:
    grouped_data = df.groupby('CCt')[i].agg(['mean', 'std'])
    print(grouped_data)
    mean_group_0 = grouped_data.loc[0, 'mean']
    mean_group_1 = grouped_data.loc[1, 'mean']
    std_group_0 = grouped_data.loc[0, 'std']
    std_group_1 = grouped_data.loc[1, 'std']
    t_stat, p_value = ttest_ind(df.loc[df['CCt'] == 0, i], df.loc[df['CCt'] == 1, i])
    print("Mean Difference Significance (t-test):")
    print("Mean Group 0:", mean_group_0)
    print("Mean Group 1:", mean_group_1)
    print("Standard Deviation Group 0:", std_group_0)
    print("Standard Deviation Group 1:", std_group_1)
    print("T-statistic:", t_stat)
    print("P-value:", p_value)

         mean       std
CCt
0    0.006591  0.059516
1   -0.024216  0.044718
Mean Difference Significance (t-test):
Mean Group 0: 0.006591291967741936
Mean Group 1: -0.02421646674074074
Standard Deviation Group 0: 0.05951555821608792
Standard Deviation Group 1: 0.04471811773478233
T-statistic: 2.535677628090056
P-value: 0.01225369836915158
          mean       std
CCt
0    14.939406  1.463259
1    14.349234  1.136073
Mean Difference Significance (t-test):
Mean Group 0: 14.939405669112903
Mean Group 1: 14.349234062962964
Standard Deviation Group 0: 1.463259483169888
Standard Deviation Group 1: 1.1360728207523547
T-statistic: 1.9686064789518687
P-value: 0.050853840299328115
         mean       std
CCt
0    0.980021  0.018144
1    0.977020  0.019102
Mean Difference Significance (t-test):
Mean Group 0: 0.9800213698225806
Mean Group 1: 0.9770196895555556
Standard Deviation Group 0: 0.018144282454370463
Standard Deviation Group 1: 0.019102223716695125
T-statistic: 0.7717214937083411
P-value: 0.4415016058609106
          mean       std
CCt
0    10.331034  1.377649
1     9.788246  1.116068
Mean Difference Significance (t-test):
Mean Group 0: 10.331034088427419
Mean Group 1: 9.788246370148148
Standard Deviation Group 0: 1.3776485159487204
Standard Deviation Group 1: 1.1160678462033111
T-statistic: 1.9134886862973275
P-value: 0.05760321387184535
          mean        std
CCt
0    -5.761813  20.223300
1   -20.869989  34.270929
Mean Difference Significance (t-test):
Mean Group 0: -5.761813044862903
Mean Group 1: -20.86998939588889
Standard Deviation Group 0: 20.223299670186787
Standard Deviation Group 1: 34.27092926845643
T-statistic: 3.0541598848665634
P-value: 0.0026742167704946547